@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  background-color: #333a48;
  color: #FFFFFF;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 600;
  font-style: normal;
}

body::-webkit-scrollbar-track {
  backdrop-filter: blur(2px);
  /* Ефект блюру */
  -webkit-backdrop-filter: blur(2px);
  /* Для підтримки в Safari */
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  background-color: #232323;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #232323;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: #000000;
}

h1,
h2,
h3,
h4 {
  color: #C69749;
}

#videoPopup {
  z-index: 1000;
}

#popupVideo {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#mobileMenu>ul {
  padding-top: 10vh !important;
  margin-bottom: 10vh !important;
  background-color: black;
  height: 100vh;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -10vh !important;
  box-sizing: content-box;
}

.slider_image {
  aspect-ratio: 7/4;
}

#closePopup {
  cursor: pointer;
}

a {
  color: #C69749;
  text-decoration: none;
}

.text-gold-blur {
  color: #C69749;
}

.h2-text {
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.h2-text span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

.h2-text span:nth-child(1) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.h2-text span:nth-child(2) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.h2-text span:nth-child(3) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

header {
  border-radius: 0 0 15px 15px;
  /* Заокруглені кути (опціонально) */
}



.hero-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
  color: #FFFFFF;
  background-size: cover;
  background-position: center;
}

.hero-section {
  position: relative;
  overflow: hidden;
}

.hero-section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 0;
}

.hero-section .absolute {
  z-index: 1;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.hero-section .container {
  z-index: 10;
  position: relative;
}

.glass-background {
  background: rgba(0, 0, 0, 0.2);
  /* Напівпрозорий чорний фон */
  backdrop-filter: blur(10px);
  /* Ефект блюру */
  -webkit-backdrop-filter: blur(10px);
  /* Для підтримки в Safari */
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* Тонка рамка (опціонально) */
}

.glass-background_video {
  background: rgba(0, 0, 0, 0.5);
  /* Напівпрозорий чорний фон */
  backdrop-filter: blur(10px);
  /* Ефект блюру */
  -webkit-backdrop-filter: blur(10px);
  /* Для підтримки в Safari */
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* Тонка рамка (опціонально) */
}

.glass-background_button {
  background: rgba(0, 0, 0, 0.2);
  /* Напівпрозорий чорний фон */
  backdrop-filter: blur(2px);
  /* Ефект блюру */
  -webkit-backdrop-filter: blur(2px);
  /* Для підтримки в Safari */
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* Тонка рамка (опціонально) */
  border-radius: 15px;
  /* Заокруглені кути (опціонально) */
  transition: ease-in 300ms;
  color: #FFFFFF;
}

.glass-background_button:hover {
  backdrop-filter: blur(5px);
  /* Ефект блюру */
  -webkit-backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.4);
  transform: scale(1.02);
}

.text-outline {
  color: white;
  /* Основний колір тексту */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.parallax-section {
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.parallax-section .bg-opacity-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.parallax-section h3 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 2rem;
  z-index: 10;
}

.bg-gold {
  background-color: #C69749;
}

.text-gold {
  color: #C69749;
}

.unit-card {
  color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.unit-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Анімація fade-in для блоків */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#second-block {
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* При скролі, коли блок стає видимим */
#second-block.visible {
  opacity: 1;
  animation: fadeIn 1s ease-out;
}

button,
.btn {
  background-color: #C69749;
  color: #000000;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover,
.btn:hover {
  background-color: #d2ad70;
}

#units {
  border-radius: 15px;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.image-slider {
  margin-top: 20px;
}

.image-slider .slick-slide {
  margin: 0 10px;
}

.image-slider div img {
  border-radius: 5px;
  border: 3px ridge black;
}

#about {
  border-radius: 15px;
  margin-top: 10px;
}

#about .absolute {
  border-radius: 15px;
}

.video-container {
  position: relative;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio */
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#vacancies {
  background-image: url("./football-no-lines.png");
}

#history {
  padding-bottom: 0;
}

footer {
  background-color: #000000;
  padding: 20px 0;
  text-align: center;
  color: #cccccc;
}

#second-block,
#first-block {
  padding: 0 2rem;
}

.rubizh-logo {
  display: flex !important;
  justify-content: flex-end !important;
}

@media screen and (min-width: 1770px) {

  header{
    display: flex;
    justify-content: center;
  }

  .container.mx-auto.flex.justify-between.items-center{
    margin: 0%;
    max-width: 100%;
   }

  /* навігаційне меню */
  .container.mx-auto.flex.justify-between.items-center > nav > ul > li > a{
    /* font-size: 38px; */
    font-size: 2rem;
  }

   .container.mx-auto.flex.justify-between.items-center > div.flex.items-center > img{
    height: 10%;
    width: 100%;
    }

  /* назва батальйону */
  .container.mx-auto.flex.justify-between.items-center > div.flex.items-center > div > p{
    font-size: 3rem !important;
    line-height: 3rem !important;
    }
  .container.mx-auto.flex.justify-between.items-center > div.flex.items-center > div > h1{
     font-size: 6.5rem !important;
     line-height: 3.5rem !important;
   }

  /* лого бригади */
  .rubizh-logo {
    width: 19% ;
    justify-content: center !important;
  } 
   /* лого бригади */
   .container.mx-auto.flex.justify-between.items-center > a > img{
    width: 35%;

  }
  
  .h2-text{
    font-size: 7rem !important;
    line-height: 7.5rem !important;
  }

  .mt-4
  {
    font-size: 2rem !important;
    line-height: 2.5rem !important;
  }
  
  .px-8{
    font-size: 1.7rem !important;
    line-height: 2rem !important;
  }

  .text-4xl.font-bold.mb-8.text-center.text-gold{
    font-size: 3rem !important;
    line-height: 3.5rem !important;
  }

  .text-4xl.font-bold.text-gold.mb-4{
    font-size: 3rem !important;
    line-height: 3.5rem !important;
  }

  .text-white{
    font-size: 1.7rem !important;
    line-height: 1.9rem !important;
  }

  .text-3xl{
    font-size: 1.9rem !important;
    line-height: 1.9rem !important;
  }

  .container {
    max-width: 85%;
}

  .text-lg.text-center.mb-8{
    font-size: 1.9rem !important;
    line-height: 1.9rem !important;
  }

  .text-2xl.font-bold.text-gold.mb-2{
    font-size: 2rem !important;
    line-height: 2rem !important;
  }
}


@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .rubizh-logo {
    width: 13.5% !important;
  }

  
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .rubizh-logo {
    width: 8% !important;
  }
}

@media screen and (max-width: 560px) {

  .banner-text h2,
  .banner-text p {
    transform: scale(0.8);
    animation: scale_560 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }
}


@media screen and (max-width: 768px) {
  .rubizh-logo {
    display: none !important;
  }

  .text-white {
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.4;
  }

  #first-block {
    padding: 0px !important;
  }

  #second-block {
    padding: 0px !important;
  }
}

@keyframes scale_560 {
  100% {
    transform: scale(0.8);
  }
}

/*# sourceMappingURL=styles.css.map */